$mainColor: white;
$secondaryColor: white;
$accentColor: #232323;
$hoverColor: #457b9d;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap");

html {
  font-size: 62.5%;
  /*  */
  box-sizing: border-box;
}

ul {
  padding: 0;
}

body {
  min-width: 330px;
  background-color: $mainColor;
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Roboto;
  color: #232323;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Layout */

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 20rem 1fr 5rem;
  height: 100%;
}
.cart-product-desc-combined {
  min-width: 30rem;
}
.shadow {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
}

header {
  grid-area: header;
  background-color: $secondaryColor;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);

  .brand {
    outline-style: none;
    color: #457b9d;
    font-family: Comfortaa;
    font-size: 2.3rem;
  }

  a {
    color: $accentColor;
    padding: 1rem;
  }

  .badge {
    background-color: #f02020;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.7rem;
    font-size: 1.4rem;
    margin-left: 0.4rem;
  }
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: $secondaryColor;
  font-size: 0.8em;
  color: #232323;
}

/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
}

.h2block {
  display: block;
}

a {
  color: $accentColor;
  text-decoration: none;

  &:hover {
    color: $hoverColor;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  font-size: 1.6rem;
  font-family: Roboto;
  font-weight: 400;
}
button {
  background-color: $hoverColor;
  color: $mainColor;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .block {
    width: 100%;
  }
}
button.small {
  font-size: 1.2rem;
}
.qtySelector {
  width: 25%;
  display: flexbox;
  align-content: stretch;
}
.primary {
  background-color: #40bef0;
  font-size: 1.1em;
  font-family: Comfortaa;
  margin: 1rem auto auto auto;
  width: 50%;
  &:hover {
    background-color: $hoverColor;
  }
}
.description_list_container {
  display: inline-block;
  margin-left: 1rem;
}
.row {
  display: -webkit-box;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row-left {
  justify-content: flex-start;
  .min-30 {
    word-wrap: break-word;
    width: 20%;
  }
}

.row.center {
  display: flex;
  justify-content: center;
}
.row.center.header {
  display: flex;
  justify-content: center;
}
.row.center.cards {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}

.p-1 {
  padding: 1rem;
}

.product-description {

  max-width: 60rem;
  margin: 1rem;
}

.row-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.row-top-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}



.row-top-container {
  display: flex;
}

img {
  border-radius: 0.5rem;
  width: 100%;
}
.img-small {
  max-width: 4rem;
  width: 100%;
}

.img-medium {
  max-width: 20rem;
  max-height: 20rem;
  width: 100%;
}
.img-large {
  width: 100%;
}

.img-product {
  margin: 1rem;
  width: 250px;
  height: 250px;
}

.carousel .slide img {
  max-width: 30rem;
}
/* Card */

.card {
  border: 0.1rem #223b4f0d solid;
  border-radius: 0.5rem;

  margin: 1rem;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(34, 60, 80, 0.05);
  -moz-box-shadow: 1px 1px 5px 5px rgba(34, 60, 80, 0.05);
  box-shadow: 1px 1px 5px 5px #223b4f0d;
  > * {
    outline-style: none;
  }
}

.card-product {
  border: 0.1rem #223b4f0d solid;
  border-radius: 0.5rem;
  max-width: 230px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-shadow: 1px 1px 5px 5px rgba(34, 60, 80, 0.05);
  -moz-box-shadow: 1px 1px 5px 5px rgba(34, 60, 80, 0.05);
  box-shadow: 1px 1px 5px 5px #223b4f0d;
  > * {
    outline-style: none;
  }
}

.card-body {
  height: fit-content;
  width: 230px;
  padding: 1rem;

  h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    // Addition lines for 2 line or multiline ellipsis
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  > * {
    outline-style: none;
    margin-bottom: 0.5rem;
  }
}
.center {
  margin: 0 auto;
}
.card-payment {
  margin: 10 auto;
  > * {
    display: block;
    width: auto;
    height: auto;
  }
  img {
    width: 90px !important;
  }

  width: auto;
  max-width: fit-content;
}

.price {
  display: block;
  align-self: flex-end;
  font-size: 2rem;
}

/* Rating */
.rating {
  display: block;
  align-self: flex-end;

  span {
    font-size: 0.8em;
    color: black;
    margin: 0.1rem;
  }

  :last-child {
    font-weight: 300;
  }
}

.col-1 {
  /*flex: 1 1 25rem;*/
  .description_list {
    padding-left: 30px;
  }
}

.col-2 {
  flex: -1 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}

.min-30 {
  min-width: 30rem;
}
.min-50 {
  padding-left: 2rem;
  min-width: 50rem;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  font-size: 0.9em;
  color: white;
  background-color: #24c024;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: 0;
  border-radius: 0.3rem;
}
.error {
  color: #a02020;
}

.danger {
  font-size: 0.9em;
  color: white;
  background-color: #e25858;
  padding: 0.3rem 1rem 0.3rem 1rem;
  border: 0;
  border-radius: 0.3rem;
}
.alert-info {
  padding: 0.3rem 1rem 0.3rem 1rem;
  width: fit-content;
  color: #2020a0;
  background-color: #e0e0ff;
  border-radius: 0.5rem;
}
.alert-danger {
  margin-top: 1rem;
  width: fit-content;
  padding: 0.6rem 1rem 0.6rem 1rem;
  color: #e25858;
  background-color: #ffe0e0e0;
  border-radius: 0.5rem;
}
.alert-success {
  color: #20a020;
  width: fit-content;
  background-color: #eeffe0;
  margin-top: 1rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 0.5rem;
}
.loadingSpinner {
  width: fit-content;
  font-size: 2rem;
  margin: 0 auto;
}
.col-2-cart {
  min-width: 1020px;
  margin: 0 auto;
}

/* Search */

.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}

.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}

/* form */

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  display: inline-block;
  margin: 1rem 0;
}
.form input {
  border-bottom: 1px solid #70c8ff;

  &:focus {
    border: none;
  }
}

/* buttown */
.dropdown {
  display: inline-block;
  position: relative;
  &:hover {
    .dropdown-content {
      width: max-content;
      display: block;
    }
  }
}
.dropdown-content {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: $mainColor;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

/* Checkout steps */

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
}
.checkout-steps > div.active {
  border-top-color: $hoverColor;
  color: $hoverColor;
  font-weight: bold;
}

/* table */

.table {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  margin: 0 auto;
  width: max-content;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #f3f3f3;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
}
.table button {
  margin: 0 0.2rem;
}

/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: white;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.07);
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: $accentColor;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

.active {
  font-weight: bold;
  color: #6f9dff;
}

.leaveReview {
  padding: 1rem;
  margin: 1rem;
  min-width: auto;
}

.productTitle {
  word-break: break-word;
  max-width: 70%;
  width: fit-content;
}
.productHeader {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.productBlock {
  max-height: fit-content;
  display: flex;
  justify-items: center;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.reviewsBlock {
  padding: 1rem;
  margin: 1rem;
  height: fit-content;
  width: fit-content;
}
.reviewsSection{
  padding-top: 3rem;
  width: 70%;
  display: inline-flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

@media only screen and (min-width: 1020px) {
  .col-2-cart {
    min-width: fit-content;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 460px) {
  .grid-container {
    grid-template-rows: 12rem 1fr 5rem;
  }
  body {
    min-width: none;
  }
}
@media only screen and (min-width: 590px) {
  .img-product {
    margin: 1rem;
    width: 290px;
    height: 290px;
  }
  .product-description {
    min-width: 50rem;
    max-width: 60rem;
    margin: 1rem;
  }
  .grid-container {
    grid-template-rows: 8rem 1fr 5rem;
  }
  .row-top-product {
    display: flex;
    align-items: flex-start;
  }
  body {
    min-width: none;
  }
  .productBlock {
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
  }
}

@media only screen and (min-width: 650px) {
  body {
    min-width: none;
  }
}
@media only screen and (min-width: 780px) {
  .grid-container {
    grid-template-rows: 8rem 1fr 5rem;
  }

  @media only screen and (min-width: 780px) {

  }
  @media only screen and (min-width: 1060px) {
    .leaveReview {
      margin: 0 auto;
      max-width: 50rem;
    }
    .reviewsBlock {
      max-width: 50rem;
      min-width: 50rem;

    }
    .grid-container {
      grid-template-rows: 6rem 1fr 5rem;
    }
    .row-top-product {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .row.center.header {
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .productHeader {
    display: inline-table;
    margin-left: 30rem;
  }


}

@media only screen and (min-width: 1400px) {
  main {
    width: 1400px;
    margin: 0 auto;
  }
  .productBlock{
    padding-left: 0rem;
  }

  .productHeader {
    display: inline-table;
    margin-left: 12rem;
  }
}
/*
@media only screen and (min-width: 1600px) {
  main {
    width: 1600px;
  }
}*/
